@media screen and (max-width: 767px) {
	.form-inline .form-group{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	
	.circle-graph {
		position: relative;
		width: 50%;
		float: left;
	}
	
	.quarter-block{
		width: 33.3333%;
		float: left;
	}
}