@media screen and (max-width: 767px) {
	.form-inline .form-group{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	
	.res-text-left{
		float: left;
	}
	
	.res-text-right{
		float: right;
	}
	
	.circle-graph {
		position: relative;
		width: 50%;
		float: left;
	}
}